body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#navbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid rgb(125, 125, 125);
    justify-content: space-between;
    height: 10vh;    
    position: fixed;
    width: 100%;    
    box-sizing: border-box;
    top: 0;
}

#navbar h2 {
    display: inline-block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
}

.search-bar {
    height: 25px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 100px;
    border: 1px solid rgb(177, 176, 176);
}

.login-btn {
    height: 35px;
    border-radius: 100px;
    padding: 5px 10px;
    border: 1px solid rgb(177, 176, 176);
    cursor: pointer;
}


.login-btn:hover{
    background-color: rgb(181, 181, 181);
}

.hero-section{
    display: flex;  
    height: 90vh;  
    margin-top: 10vh; 
   /* overflow: hidden; */
} 


.sidebar{
    position: fixed;
    width: 25vw;
    height: 90vh;
    background-color: beige;
    /* margin-top:10vh; */
    /* overflow-y: auto; */
}

.sidebar ul{    
    list-style-type: none;
    height: 80vh;
    margin: 10px;
    margin-left: 0px;
    margin-top: 60px;
    margin-bottom: 0;
}

.sidebar ul li{
    /* margin: 5px; */
    width: 100%;
    color: blue;
    margin-left: 0;
}
.sidebar ul a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px 30px;    
    display: block;
    padding-left: 10px;
    margin: 5px;
}

.sidebar ul li a:hover{
    background-color: rgb(176, 173, 168);   
    border-radius: 6px;
    color: green;
    transition: color 0.3ease;
}

.items-container{
    display: none;
    width: 75vw;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-left: 25vw;
    overflow-y: auto; 
}
.items-container:target {
    display: block; /* Show the section when targeted */
}
.all{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    
}

.items{
    margin: 10px;
    display: flex;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    width: 45%;
    height: 20vh;
}

.sub-item{
    margin: 20px;
}


